
@media only screen and(max-width:576px)
{
    .navbar__bgcolor{
      .navbar__info{
        h4{
            padding-top:70px;
        }
    }
        .navbar__menu{
            ul{
                li{
                    .nav-link{
                   font-weight: 600;
                    background-color: rgba(87, 105, 117, 0.6);
                    border: 1px solid #2d1f1f9e;
                    &:first-child{
                    border-top:none !important;
                         }
                    &:hover:before{
                        content: " ";
                        background-color: transparent;
                    }
                    }
                }
            }
        }
            
.about{
    height: 900px;
    .about__avatar{
        img{
            
            padding-top: 5px;
        }
    }
    .about__paragraph{
     position: relative;
     h2{
         padding-top: 0;
         font-size: 30px;
     }
     p{  margin-bottom: 0px;
         b{
             font-size: 20px !important;
             padding-bottom: 0px;
         }
     }
 }
 .about__social{
    font-size: 14px;
    position: absolute !important;
    top: 104% !important;
    left: 39% !important;
    letter-spacing: 5px !important;
}

}

}
    
}