*{margin:0;padding:0}
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese');
body,html {width:100%;height:100%}
$font: Montserrat, sans-serif;
@mixin navbar_top (){
   text-transform:uppercase;
   color:#e2e2e2;
   font-size:16px;
   font-family:$font;
   //    padding-top: 42px;
}
.navbar__bgcolor{
    background:url('../images/bgheader.png');
    background-size:cover;
    background-position:center;
    width:100%;
    height:100%;
    .navbar__menu{
        background-color:transparent !important;
        .navbar-brand{
            @include navbar_top();
            text-shadow: 0px 0px 10px #fefefe;
            text-transform:none;
            letter-spacing:3px;
            font-size: 25px;
            transition: all 0.6s;
        }
        ul{
            li{
                .nav-link{
                    @include navbar_top();
                    position: relative;
                    &:hover{
                        text-shadow: 2x 1px 20px #fefefe !important;
                    }
                    &:before{
                     content: " ";
                     position: absolute;
                     width: 0;
                     height: 1px;
                     background-color: #fff;
                     left: 8px;
                     bottom: -5px;
                     transition: all .4s;
                 }
                 &:hover:before {
                    
                     width:85%;
                 }
             }
         }
     }
 }
 .navbar__banner{
    padding-top: 242px;
    color: #e2e2e2;
    text-transform: uppercase;
    font-family: $font;
    h4{
        font-size: 20px;
    }
    h2{
        text-shadow: 0px 1px 10px #fefefe;
        font-size: 52px;
    }
    strong{
        font-size: 13px;
    }
    .btn__hire{
        margin-top: 39px;
        background-color: transparent;
        font-size: 13px;
        transition: all 0.9s;
        .btn__hire--me{
            &:hover{
                box-shadow: 10px 0px 50px #fefefe;
                background-color: transparent !important;
                font-weight: 700;
            }
        }
    }
}
}
.about{
    background-color: #000;
    .about__paragraph{

        h2{
            font-family: $font;
            font-size: 35px;
            text-transform: uppercase;
            font-weight: bold;
            color: #f4f4f4;
            padding-top: 75px;
        }
        p{
            b{
                text-transform: uppercase;
                font-family: $font;
                font-size: 22px;
                color: #f4f4f4;
                
            }
        }
        p{
            font-family: $font;
            font-size: 16px;
            line-height: 32px;
            color: #f4f4f4;
        }
        position: relative;
        .about__social{
            a{
                color:#fff;
                letter-spacing: 5px;
            }
            position: absolute;
            left: 16px;
            top: 444px;
        }
    }
}
.resume{
    background-color: #fff;
}
@import url('_menu_mobile.scss');

